<div class = "card bg-light">
    <div class = "card-header"> {{titulo}}: {{consulta.paciente?.nombre}}</div>
    <div class = "card-body">
        <h4 class = "card-title">
            <a [routerLink] = "['/pacientes']" class = "btn btn-light btn-xs">&laquo; volver</a>
        </h4>

        <form #consultaForm = "ngForm">
            <div class = "form-group row" *ngIf = "consulta.paciente">
                <label for = "paciente" class = "col-md-2 control-label">Paciente</label>
                <div class = "col-sm-6">
                    <input type="text" name = "paciente" value = "{{consulta.paciente.nombre}} {{consulta.paciente.apellido}}" class = "form-control" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label for="motivoConsulta" class="col-sm-2 col-form-label">Motivo de Consulta</label>
                <div class="col-sm-10">
                  <!-- <input type="text" name = "motivoConsulta" [(ngModel)] = "consulta.motivoConsulta" class = "form-control"> -->
                  <textarea name="motivoConsulta" [(ngModel)] ="consulta.motivoConsulta" class="form-control"></textarea>
                </div>
            </div>
            
            <div class="form-group row">
                <label for="patologicosPersonales" class="col-sm-2 col-form-label">Patologicos Personales</label>
                <div class="col-sm-10">
                  <textarea name="patologicosPersonales" [(ngModel)]="consulta.patologicosPersonales" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="toxicosPersonales" class ="col-sm-2 col-form-label">Tóxicos Personales</label>
                <div class="col-sm-10">
                  <textarea name="toxicosPersonales" [(ngModel)]="consulta.toxicosPersonales" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="alergicosPersonales" class="col-sm-2 col-form-label">Alergicos Personales</label>
                <div class="col-sm-10">
                  <textarea name="alergicosPersonales" [(ngModel)]="consulta.alergicosPersonales" class="form-control"></textarea>
                </div>
            
            </div>
            <div class="form-group row">
                <label for="farmacologicosPersonales" class="col-sm-2 col-form-label">Farmacologicos Personales</label>
                <div class="col-sm-10">
                  <textarea name="farmacologicosPersonales" [(ngModel)]="consulta.farmacologicosPersonales" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="patologicosFamiliares" class="col-sm-2 col-form-label">Patologicos Familiares</label>
                <div class="col-sm-10">
                  <textarea name="patologicosFamiliares" class="form-control" [(ngModel)]="consulta.patologicosFamiliares" class="col-sm-2 col-form-label" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="diagnostico" class="col-sm-2 col-form-label">Diagnostico</label>
                <div class="col-sm-10">
                  <textarea name="diagnostico" [(ngModel)]="consulta.diagnostico" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="conducta" class="col-sm-2 col-form-label">Conducta</label>
                <div class="col-sm-10">
                  <textarea name="conducta" [(ngModel)]="consulta.conducta" class="form-control"></textarea>
                </div>
            </div>

            <div class = "form-group row">
                <div class = "col-sm-6">
                    <input type="submit" (click) = "create(consultaForm)" value = "Crear Consulta" class = "btn btn-secondary">
                </div>
            </div>
        </form>

    </div>
</div>
